<div class="menu">

    <ul class="navbar-nav flex-row">

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">
                {% if request.path == "/" %}
                    <span class="material-icons">home</span>
                {% else %}
                    <span class="material-icons-outlined">home</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="material-icons-outlined">near_me</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('notifications') }}">
                {% if request.path == "/notifications" %}
                <span class="material-icons">notifications</span>
                {% else %}
                <span class="material-icons-outlined">notifications</span>
                {% endif %}
            </a>
        </li>

        <li class="nav-item dropdown">

            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="small-avatar" />
            </span>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('profile') }}">
                    <span class="material-icons-outlined" style="vertical-align: -6px;">
                    account_circle
                    </span> <span>Profile</span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </div>

        </li>
    </ul>

</div>