{%- if request.path == "/" %}
    <div class="row justify-content-center px-3">
        <div class="card mt-2 w-100">
            <div class="card-header">
                <a href="{{ url_for('profile') }}" class="d-flex align-items-center">
                    <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="medium-avatar" />

                    <div class="ml-1" style style="transform: translateY(-2px)">
                        <span class="d-block">{{ post.user.username }}</span>
                    </div>
                </a>
            </div>
            <a href="{{ url_for('post', idPost=post.id) }}">
            <img src="{{ url_for('static', filename='uploads/') }}{{ post['img'] }}" class="card-img-top" style="border-radius: 0;" alt="...">
            </a>
            <div class="card-body">
                <h6 class="card-title">                
                    <a href="{{ url_for('profile') }}">
                        <span class="material-icons-outlined" style="vertical-align: -6px;">
                        thumb_up
                        </span> <span>75 Likes</span>
                    </a>
                </h6>
                <h6 class="card-title"><a href="{{ url_for('profile') }}">{{ post.user.username }}</a></h6>
                <p class="card-text">{{ post.text }}</p>
                <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
            </div>
        </div>
    </div>

{% else %}

    <div class="row justify-content-center px-3">
        <div class="col-md-10">
            <div class="card mt-2">
                <div class="row no-gutters" style="min-height: 400px;">
                    <div class="col-md-7 bg-dark">
                        <img src="{{ url_for('static', filename='uploads/') }}{{ post['img'] }}" style="border-radius: 0; width: 100%; height: 100%;" alt="...">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                            <a href="{{ url_for('profile') }}" class="d-flex align-items-center">
                                <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="small-avatar" />
            
                                <div class="ml-1" style style="transform: translateY(-2px)">
                                    <span class="d-block">{{ post.user.username }}</span>
                                </div>
                            </a>
                            <hr>
                            <p class="card-text">{{ post.text }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                            <hr>
                            <span class="material-icons-outlined" style="vertical-align: -6px;">
                                thumb_up
                            </span> 75 Likes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}