<div class="post_thumb">
    <a href="{{ url_for('post', idPost=1) }}">
        <div class="post_thumb_display">
            <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" alt={post.images[0].url} />
            <div class="post_thumb_menu">
                <i class="far fa-heart"> 7</i>
            </div>
        </div>
    </a>
    <a href="{{ url_for('post', idPost=1) }}">
        <div class="post_thumb_display">
            <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" alt={post.images[0].url} />
            <div class="post_thumb_menu">
                <i class="far fa-heart"> 3</i>
            </div>
        </div>
    </a>
    <a href="{{ url_for('post', idPost=1) }}">
        <div class="post_thumb_display">
            <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" alt={post.images[0].url} />
            <div class="post_thumb_menu">
                <i class="far fa-heart"> 2</i>
            </div>
        </div>
    </a>
</div>