<div class="mt-3 position-fixed">

    <div class="d-flex p-2 pr-5 align-items-center justify-content-between w-100 border" style="padding-right: 100px !important;">
        <div>
            <a href="{{ url_for('profile') }}" class="d-flex align-items-center">
                
                <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="medium-avatar" />

                <div class="ml-1" style="transform: translateY(-2px)">
                    <span class="d-block">{{ user.username }}</span>
                    
                    <small style="opacity: 0.7">
                        {{ user.name }}
                    </small>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center my-2">
        <h5>Suggestions for you</h5>
    </div>

    <div class="suggestions">
        {% for user in all_users %}
        
            <div class="d-flex p-2 align-items-center justify-content-between w-100">
                <div>
                    <a href="{{ url_for('profile') }}" class="d-flex align-items-center">
                        
                        <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="medium-avatar" />

                        <div class="ml-1" style="transform: translateY(-2px)">
                            <span class="d-block">{{ user.username }}</span>
                            
                            <small style="opacity: 0.7">
                                {{ user.name }}
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>