{% extends "base_template.html" %}

{% block title %}Profile{% endblock %}
{% block content %}
<div className="info">
    <div class="info_container py-2">
        <img src="https://www.findcollab.com/img/user-folder/5da9aea95eb62user.png" class="supper-avatar" />

        <div class="info_content">
            <div class="info_content_title">
                <h2>{{ user.username }}</h2>
                {%- if request.path == '/verPerfil' %}
                    {% if esta_siguiendo|length > 0 %}
                        <button type="submit" class="btn btn-info">Siguiendo</button>                               
                    {% else %}
                        <form class="search_form" method="POST" id="{{ user.username }}" action="{{ url_for('follow') }}" >
                            <div onclick="follow.submit()" class="d-flex align-items-center justify-content-between w-100">
                                <div style="transform: translateY(-2px); top: 0;" >
                                    <button type="submit" class="btn btn-info">Seguir</button>                               
                                    <input style="display: none;" name="usuarioBuscado" value="{{ user.username }}">
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    <button class="btn btn-outline-info">
                        Editar Perfil
                    </button>
                {% endif %}
            </div>

            <div class="follow_btn">
                <span class="mr-4">
                    <a href="{{ url_for('following', username=user.username) }}">Seguidos</a>
                </span>
                <span class="mr-4">
                    <a href="{{ url_for('followers', username=user.username) }}">Seguidores</a>
                </span>
            </div>

            <div class="my-2">
                <h6 class="text-capitalize">{{ user.name }}</h6>
            </div>

            <a class="text-info" href="http://www.unla.edu.ar/" target="_blank">
                http://www.unla.edu.ar/
            </a>
        </div>
    </div>
    <hr>
</div>

{% for post in posts %}
    {% include 'posts/post_thumb.html' %}
{% endfor %}

{% endblock %}